<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lycee.web.enquete.api.mapper.space.SpaceMapper">

    <resultMap
            id="spaceEntity"
            type="net.lycee.web.enquete.api.entity.SpaceEntity">
        <result column="SPACE_ID" jdbcType="VARCHAR" property="id" />
        <result column="OWNER_USER_ID" jdbcType="VARCHAR" property="ownerId" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="OPENED_TIME" jdbcType="BIGINT" property="openedTime" />
        <result column="CLOSE_TIME" jdbcType="BIGINT" property="closeTime" />
    </resultMap>

    <select id="selectByUser" resultMap="spaceEntity">
        SELECT
            S.SPACE_ID,
            S.OWNER_USER_ID,
            S.NAME,
            S.OPENED_TIME,
            S.END_TIME AS CLOSE_TIME
        from
            QES_SPACE S
        INNER JOIN
            QES_USER_JOIN UJ
        ON
            UJ.SPACE_ID = S.SPACE_ID
        WHERE
            UJ.USER_ID = #{userId}
        <if test="spaceId != null">
        AND
            S.SPACE_ID = #{spaceId}
        </if>
        ORDER BY
            S.END_TIME DESC
    </select>

    <insert id="insert">
        INSERT INTO QES_SPACE
        (
            SPACE_ID,
            OWNER_USER_ID,
            NAME,
            OPENED_TIME,
            END_TIME
        ) VALUES (
            #{entity.spaceId, jdbcType=OTHER},
            #{entity.ownerId},
            #{entity.name},
            #{entity.openedTime},
            #{entity.closeTime}
        )

    </insert>

    <select id="selectByPKAndTime" resultMap="spaceEntity">
        SELECT
            s.SPACE_ID,
            s.OWNER_USER_ID,
            s.NAME,
            S.OPENED_TIME,
            S.END_TIME
        FROM
            QES_SPACE S
        WHERE
            S.SPACE_ID = #{spaceId}
            AND S.END_TIME &gt; #{currentTime}
    </select>


    <insert id="insertJoin">
        INSERT INTO QES_USER_JOIN
        (
            USER_ID,
            SPACE_ID
        ) VALUES (
            #{userId},
            #{spaceId}
        )
    </insert>

</mapper>